@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Oswald.woff2") format("woff2");
}